In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('preprocessed_train.csv')
df.head()

,Unnamed: 0,StoreID,Date,IsHoliday,HasPromotions,StoreType,AssortmentType,NearestCompetitor,Region,NumberOfSales,...,DayOfWeek,Month,Week,Quarter,IsOpen_yesterday,IsOpen_tomorrow,IsHoliday_yesterday,IsHoliday_tomorrow,HasPromotions_yesterday,HasPromotions_tomorrow
0,0,1000,2016-03-01,0,0,Hyper Market,General,326,7,5676,...,1,3,9,1,1.0,1.0,1.0,1.0,NaN,NaN
1,1,1000,2016-03-02,0,0,Hyper Market,General,326,7,8111,...,2,3,9,1,1.0,1.0,0.0,1.0,0.0,NaN
2,2,1000,2016-03-04,0,0,Hyper Market,General,326,7,8300,...,4,3,9,1,1.0,1.0,1.0,0.0,NaN,0.0
3,3,1000,2016-03-05,0,0,Hyper Market,General,326,7,7154,...,5,3,9,1,1.0,0.0,0.0,0.0,0.0,0.0
4,5,1000,2016-03-07,0,1,Hyper Market,General,326,7,10110,...,0,3,10,1,0.0,1.0,0.0,0.0,0.0,1.0

In [3]:
df_test = pd.read_csv('preprocessed_test.csv')
df_test.head()

,Unnamed: 0,StoreID,Date,IsHoliday,HasPromotions,StoreType,AssortmentType,NearestCompetitor,Region,Region_PopulationK,...,DayOfWeek,Month,Week,Quarter,IsOpen_yesterday,IsOpen_tomorrow,IsHoliday_yesterday,IsHoliday_tomorrow,HasPromotions_yesterday,HasPromotions_tomorrow
0,0,1000,2018-03-01,0,0,Hyper Market,General,326,7,2770,...,3,3,9,1,1.0,1.0,1.0,0.0,NaN,0.0
1,1,1000,2018-03-02,0,0,Hyper Market,General,326,7,2770,...,4,3,9,1,1.0,1.0,0.0,0.0,0.0,0.0
2,2,1000,2018-03-03,0,0,Hyper Market,General,326,7,2770,...,5,3,9,1,1.0,0.0,0.0,0.0,0.0,0.0
3,4,1000,2018-03-05,0,1,Hyper Market,General,326,7,2770,...,0,3,10,1,0.0,1.0,0.0,0.0,0.0,1.0
4,5,1000,2018-03-06,0,1,Hyper Market,General,326,7,2770,...,1,3,10,1,1.0,1.0,0.0,0.0,1.0,1.0

In [4]:
# convert date to datetime
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')
df['Year'] = df['Date'].dt.year

df_test['Date'] = pd.to_datetime(df_test['Date'], format='%Y-%m-%d')

In [ ]:
for store in df.StoreID.unique():
    print('store ', store)
    mask = (df.StoreID == store)
    mask_test = (df_test.StoreID == store)
    store_df = df[mask]

    # avg daily sales
    available_months = store_df.Month.unique()
    available_years = store_df.Year.unique()
    total_sales = sum(store_df.NumberOfSales)
    total_open_days = store_df.Date.count()
    daily_sales = total_sales / total_open_days
    df.loc[mask, 'daily_sales'] = daily_sales
    df_test.loc[mask_test, 'daily_sales'] = daily_sales

    # avg sales for each month (BASED ON specific MONTH, not just average of all months)
    for m in available_months:
        month_avg_sales = sum(store_df[(store_df.Month == m)].NumberOfSales)/len(store_df[(store_df.Month == m)].Year.unique())
        df.loc[((mask) & (df.Month == m)), 'month_avg_sales'] = month_avg_sales
        if m in (3, 4):
            df_test.loc[((mask_test) & (df_test.Month == m)), 'month_avg_sales'] = month_avg_sales
    
    # avg yearly sales
    yearly_sales = sum(store_df.NumberOfSales)/len(store_df['Year'].unique())
    df.loc[mask , 'yearly_sales'] = yearly_sales
    df_test.loc[mask_test, 'yearly_sales'] = yearly_sales

store  1000
store  1001
store  1002
store  1003
store  1004
store  1005
store  1006
store  1007
store  1008
store  1009
store  1010
store  1011
store  1012
store  1013
store  1014
store  1015
store  1016
store  1017
store  1018
store  1019
store  1020
store  1021
store  1022
store  1023
store  1024
store  1025
store  1026
store  1027
store  1028
store  1029
store  1030
store  1031
store  1032
store  1033
store  1034
store  1035
store  1036
store  1037
store  1038
store  1039
store  1040
store  1041
store  1042
store  1043
store  1044
store  1045
store  1046
store  1047
store  1048
store  1049
store  1050
store  1051
store  1052
store  1053
store  1054
store  1055
store  1056
store  1057
store  1058
store  1059
store  1060
store  1061
store  1062
store  1063
store  1064
store  1065
store  1066
store  1067
store  1068
store  1069
store  1070
store  1071
store  1072
store  1073
store  1074
store  1075
store  1076
store  1077
store  1078
store  1079
store  1080
store  1081
store  1082
store  1083
store  1084
store  1085
store  1086
store  1087
store  1088
store  1089
store  1090
store  1091
store  1092
store  1093
store  1094
store  1095
store  1096
store  1097
store  1098
store  1099
store  1100
store  1101
store  1102
store  1103
store  1104
store  1105
store  1106
store  1107
store  1108
store  1109
store  1110
store  1111
store  1112
store  1113
store  1114
store  1115
store  1116
store  1117
store  1118
store  1119
store  1120
store  1121
store  1122
store  1123
store  1124
store  1125
store  1126
store  1127
store  1128
store  1129
store  1130
store  1131
store  1132
store  1133
store  1134
store  1135
store  1136
store  1137
store  1138
store  1139
store  1140
store  1141
store  1142
store  1143
store  1144
store  1145
store  1146
store  1147
store  1148
store  1149
store  1150
store  1151
store  1152
store  1153
store  1154
store  1155
store  1156
store  1157
store  1158
store  1159
store  1160
store  1161
store  1162
store  1163
store  1164
store  1165
store  1166
store  1167
store  1168
store  1169
store  1170
store  1171
store  1172
store  1173
store  1174
store  1175
store  1176
store  1177
store  1178
store  1179
store  1180
store  1181
store  1182
store  1183
store  1184
store  1185
store  1186
store  1187
store  1188

In [ ]:
df

In [ ]:
df_test

In [ ]:
df.to_csv('preprocessed_train_with_avg.csv',index=False)
df_test.to_csv('preprocessed_test_with_avg.csv', index=False)