# PREPROCESSING

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.head()

,StoreID,Date,IsHoliday,IsOpen,HasPromotions,StoreType,AssortmentType,NearestCompetitor,Region,NumberOfCustomers,...,Mean_Wind_SpeedKm_h,Min_Dew_PointC,Min_Humidity,Min_Sea_Level_PressurehPa,Min_TemperatureC,Min_VisibilitykM,Precipitationmm,WindDirDegrees,beforeHoliday,afterHoliday
0,1000,01/03/2016,0,1,0,Hyper Market,General,326,7,495,...,16,-2,70,1029,1,60.0,0,23,0,0
1,1000,02/03/2016,0,1,0,Hyper Market,General,326,7,608,...,10,-2,58,1025,1,100.0,0,56,0,0
2,1000,04/03/2016,0,1,0,Hyper Market,General,326,7,665,...,10,-3,55,1023,2,80.0,0,22,0,0
3,1000,05/03/2016,0,1,0,Hyper Market,General,326,7,630,...,10,-6,25,1022,-1,100.0,0,108,0,0
4,1000,06/03/2016,0,0,0,Hyper Market,General,326,7,0,...,5,-6,48,1022,-5,50.0,0,46,0,0

In [4]:
# convert strings to bool, then to int
store_ids = df["StoreID"].unique()
store_ids

array([1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010,
       1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021,
       1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032,
       1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043,
       1044, 1045, 1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054,
       1055, 1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065,
       1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076,
       1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087,
       1088, 1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098,
       1099, 1100, 1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109,
       1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120,
       1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131,
       1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142,
       1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153,
       1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164,
       1165, 1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175,
       1176, 1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186,
       1187, 1188, 1189, 1190, 1191, 1192, 1193, 1194, 1195, 1196, 1197,
       1198, 1199, 1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208,
       1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219,
       1220, 1221, 1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230,
       1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241,
       1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252,
       1253, 1254, 1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 1263,
       1264, 1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274,
       1275, 1276, 1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285,
       1286, 1287, 1288, 1289, 1290, 1291, 1292, 1293, 1294, 1295, 1296,
       1297, 1298, 1299, 1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307,
       1308, 1309, 1310, 1311, 1312, 1313, 1314, 1315, 1316, 1317, 1318,
       1319, 1320, 1321, 1322, 1323, 1324, 1325, 1326, 1327, 1328, 1329,
       1330, 1331, 1332, 1333, 1334, 1335, 1336, 1337, 1338, 1339, 1340,
       1341, 1342, 1343, 1344, 1345, 1346, 1347, 1348, 1349, 1350, 1351,
       1352, 1353, 1354, 1355, 1356, 1357, 1358, 1359, 1360, 1361, 1362,
       1363, 1364, 1365, 1366, 1367, 1368, 1369, 1370, 1371, 1372, 1373,
       1374, 1375, 1376, 1377, 1378, 1379, 1380, 1381, 1382, 1383, 1384,
       1385, 1386, 1387, 1388, 1389, 1390, 1391, 1392, 1393, 1394, 1395,
       1396, 1397, 1398, 1399, 1400, 1401, 1402, 1403, 1404, 1405, 1406,
       1407, 1408, 1409, 1410, 1411, 1412, 1413, 1414, 1415, 1416, 1417,
       1418, 1419, 1420, 1421, 1422, 1423, 1424, 1425, 1426, 1427, 1428,
       1429, 1430, 1431, 1432, 1433, 1434, 1435, 1436, 1437, 1438, 1439,
       1440, 1441, 1442, 1443, 1444, 1445, 1446, 1447, 1448, 1449, 1450,
       1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1460, 1461,
       1462, 1463, 1464, 1465, 1466, 1467, 1468, 1469, 1470, 1471, 1472,
       1473, 1474, 1475, 1476, 1477, 1478, 1479, 1480, 1481, 1482, 1483,
       1484, 1485, 1486, 1487, 1488, 1489, 1490, 1491, 1492, 1493, 1494,
       1495, 1496, 1497, 1498, 1499, 1500, 1501, 1502, 1503, 1504, 1505,
       1506, 1507, 1508, 1509, 1510, 1511, 1512, 1513, 1514, 1515, 1516,
       1517, 1518, 1519, 1520, 1521, 1522, 1523, 1524, 1525, 1526, 1527,
       1528, 1529, 1530, 1531, 1532, 1533, 1534, 1535, 1536, 1537, 1538,
       1539, 1540, 1541, 1542, 1543, 1544, 1545, 1546, 1547, 1548, 1549,
       1550, 1551, 1552, 1553, 1554, 1555, 1556, 1557, 1558, 1559, 1560,
       1561, 1562, 1563, 1564, 1565, 1566, 1567, 1568, 1569, 1570, 1571,
       1572, 1573, 1574, 1575, 1576, 1577, 1578, 1579, 1580, 1581, 1582,
       1583, 1584, 1585, 1586, 1587, 1588, 1589, 1590, 1591, 1592, 1593,
       1594, 1595, 1596, 1597, 1598, 1599, 1600, 1601, 1602, 1603, 1604,
       1605, 1606, 1607, 1608, 1609, 1610, 1611, 1612, 1613, 1614, 1615,
       1616, 1617, 1618, 1619, 1620, 1621, 1622, 1623, 1624, 1625, 1626,
       1627, 1628, 1629, 1630, 1631, 1632, 1633, 1634, 1635, 1636, 1637,
       1638, 1639, 1640, 1641, 1642, 1643, 1644, 1645, 1646, 1647, 1648,
       1649, 1650, 1651, 1652, 1653, 1654, 1655, 1656, 1657, 1658, 1659,
       1660, 1661, 1662, 1663, 1664, 1665, 1666, 1667, 1668, 1669, 1670,
       1671, 1672, 1673, 1674, 1675, 1676, 1677, 1678, 1679, 1680, 1681,
       1682, 1683, 1684, 1685, 1686, 1687, 1688, 1689, 1690, 1691, 1692,
       1693, 1694, 1695, 1696, 1697, 1698, 1699, 1700, 1701, 1702, 1703,
       1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1713, 1714,
       1715, 1716, 1717, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725,
       1726, 1727, 1728, 1729, 1730, 1731, 1732, 1733, 1734, 1735, 1736,
       1737, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747,
       1748], dtype=int64)

In [5]:
for id in store_ids:
    chunk = df[df['StoreID']==id]
    df.loc[df['StoreID']==id,'Day'] = range(1, len(chunk)+1)

In [6]:
# one hot encoding
one_hot = pd.get_dummies(df.StoreType, dummy_na=True, prefix_sep='StoreType_')
df = pd.concat([df, one_hot], axis=1)
df.columns = df.columns.fillna('no_StoreType')
one_hot = pd.get_dummies(df.AssortmentType, dummy_na=True, prefix_sep='StoreType_')
df = pd.concat([df, one_hot], axis=1)
df.columns = df.columns.fillna('no_AssortmentType')
one_hot = pd.get_dummies(df.Events, dummy_na=True, prefix_sep='Events_')
df = pd.concat([df, one_hot], axis=1)
df.columns = df.columns.fillna('no_events')

df.head()

,StoreID,Date,IsHoliday,IsOpen,HasPromotions,StoreType,AssortmentType,NearestCompetitor,Region,NumberOfCustomers,...,Rain-Hail-Thunderstorm,Rain-Snow,Rain-Snow-Hail,Rain-Snow-Hail-Thunderstorm,Rain-Snow-Thunderstorm,Rain-Thunderstorm,Snow,Snow-Hail,Thunderstorm,no_events
0,1000,01/03/2016,0,1,0,Hyper Market,General,326,7,495,...,0,1,0,0,0,0,0,0,0,0
1,1000,02/03/2016,0,1,0,Hyper Market,General,326,7,608,...,0,0,0,0,0,0,1,0,0,0
2,1000,04/03/2016,0,1,0,Hyper Market,General,326,7,665,...,0,0,0,0,0,0,0,0,0,0
3,1000,05/03/2016,0,1,0,Hyper Market,General,326,7,630,...,0,0,0,0,0,0,0,0,0,1
4,1000,06/03/2016,0,0,0,Hyper Market,General,326,7,0,...,0,0,0,0,0,0,0,0,0,1

In [7]:

import datetime as dt

df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')
df['DayN']=df['Date'].dt.dayofyear
df['Month']=df['Date'].dt.month
df['Week']=df['Date'].dt.weekofyear
df['Quarter']=df['Date'].dt.quarter

In [8]:
df = df.drop('StoreType', axis=1)
df = df.drop('AssortmentType', axis=1)
df = df.drop('Date', axis=1)
df = df.drop('Events', axis=1)
df = df.drop('no_StoreType', axis=1)
df = df.drop('no_AssortmentType', axis=1)
df = df.drop('NumberOfCustomers', axis=1)

In [9]:
df.head()

,StoreID,IsHoliday,IsOpen,HasPromotions,NearestCompetitor,Region,NumberOfSales,Region_AreaKM2,Region_GDP,Region_PopulationK,...,Rain-Snow-Thunderstorm,Rain-Thunderstorm,Snow,Snow-Hail,Thunderstorm,no_events,DayN,Month,Week,Quarter
0,1000,0,1,0,326,7,5676,9643,17130,2770,...,0,0,0,0,0,0,61,3,9,1
1,1000,0,1,0,326,7,8111,9643,17130,2770,...,0,0,1,0,0,0,62,3,9,1
2,1000,0,1,0,326,7,8300,9643,17130,2770,...,0,0,0,0,0,0,64,3,9,1
3,1000,0,1,0,326,7,7154,9643,17130,2770,...,0,0,0,0,0,1,65,3,9,1
4,1000,0,0,0,326,7,0,9643,17130,2770,...,0,0,0,0,0,1,66,3,9,1

In [10]:
df.to_csv('preprocessed_train.csv',index=False)

In [11]:
###############################    IGNORARE QUESTA CELLA
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import random

from sklearn import datasets
from sklearn import linear_model
from sklearn import naive_bayes
from sklearn import neighbors
from sklearn import linear_model
from sklearn.ensemble import ExtraTreesRegressor

from sklearn.feature_selection import SelectFromModel
from sklearn.feature_selection import VarianceThreshold

from sklearn.decomposition import PCA

from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score


kfolds = KFold(10,shuffle=True,random_state=1234)
model = linear_model.LinearRegression()
X=pd.read_csv('preprocessed_train.csv')
X.drop('NumberOfSales',axis=1)
X.head()
y=df['NumberOfSales']