# PREPROCESSING

In [85]:
import pandas as pd
import numpy as np
import datetime as dt
from IPython.display import clear_output

## Run with train.csv once and then test.csv

In [86]:
# load csvs to dataframe
#df = pd.read_csv('train.csv')
df = pd.read_csv('test.csv')

In [87]:
df.head()

,StoreID,Date,IsHoliday,IsOpen,HasPromotions,StoreType,AssortmentType,NearestCompetitor,Region,Region_AreaKM2,...,Mean_TemperatureC,Mean_VisibilityKm,Mean_Wind_SpeedKm_h,Min_Dew_PointC,Min_Humidity,Min_Sea_Level_PressurehPa,Min_TemperatureC,Min_VisibilitykM,Precipitationmm,WindDirDegrees
0,1000,01/03/2018,0,1,0,Hyper Market,General,326,7,9643,...,6,14.0,5,-1,46,1011,2,10.0,0.00,180
1,1000,02/03/2018,0,1,0,Hyper Market,General,326,7,9643,...,4,12.0,6,-1,52,1009,3,10.0,5.08,315
2,1000,03/03/2018,0,1,0,Hyper Market,General,326,7,9643,...,3,13.0,11,-3,41,1013,-2,10.0,0.00,210
3,1000,04/03/2018,0,0,0,Hyper Market,General,326,7,9643,...,6,11.0,18,-2,65,1002,1,6.0,3.05,193
4,1000,05/03/2018,0,1,1,Hyper Market,General,326,7,9643,...,6,10.0,23,-5,25,1000,2,8.0,0.25,247

In [88]:
# show sample row
df.iloc[0]

StoreID                               1000
Date                            01/03/2018
IsHoliday                                0
IsOpen                                   1
HasPromotions                            0
StoreType                     Hyper Market
AssortmentType                     General
NearestCompetitor                      326
Region                                   7
Region_AreaKM2                        9643
Region_GDP                           17130
Region_PopulationK                    2770
CloudCover                               6
Events                                Rain
Max_Dew_PointC                           3
Max_Gust_SpeedKm_h                     NaN
Max_Humidity                            95
Max_Sea_Level_PressurehPa             1022
Max_TemperatureC                         9
Max_VisibilityKm                        31
Max_Wind_SpeedKm_h                      18
Mean_Dew_PointC                          2
Mean_Humidity                           75
Mean_Sea_Level_PressurehPa            1019
Mean_TemperatureC                        6
Mean_VisibilityKm                       14
Mean_Wind_SpeedKm_h                      5
Min_Dew_PointC                          -1
Min_Humidity                            46
Min_Sea_Level_PressurehPa             1011
Min_TemperatureC                         2
Min_VisibilitykM                        10
Precipitationmm                          0
WindDirDegrees                         180
Name: 0, dtype: object

## Missing values : CloudCover
We consider cloud cover = 0 when no events occur, 8 otherwise

In [89]:
## Missing Values
# cloud coverage: 0 if no events, 8 if events
for row in range(len(df)):
    if row % 10000 == 0:
        clear_output()
        print("Working on row {}".format(row))
    if np.isnan(df.loc[row, 'CloudCover']):
        if df.loc[row, 'Events'] is np.nan:
            df.loc[row, 'CloudCover'] = 0
        else:
            df.loc[row, 'CloudCover'] = 8

# max gust speed = max wind speed
df.Max_Gust_SpeedKm_h = df.Max_Gust_SpeedKm_h.fillna(df.Max_Wind_SpeedKm_h)

Working on row 40000

In [90]:
df.iloc[0]

StoreID                               1000
Date                            01/03/2018
IsHoliday                                0
IsOpen                                   1
HasPromotions                            0
StoreType                     Hyper Market
AssortmentType                     General
NearestCompetitor                      326
Region                                   7
Region_AreaKM2                        9643
Region_GDP                           17130
Region_PopulationK                    2770
CloudCover                               6
Events                                Rain
Max_Dew_PointC                           3
Max_Gust_SpeedKm_h                      18
Max_Humidity                            95
Max_Sea_Level_PressurehPa             1022
Max_TemperatureC                         9
Max_VisibilityKm                        31
Max_Wind_SpeedKm_h                      18
Mean_Dew_PointC                          2
Mean_Humidity                           75
Mean_Sea_Level_PressurehPa            1019
Mean_TemperatureC                        6
Mean_VisibilityKm                       14
Mean_Wind_SpeedKm_h                      5
Min_Dew_PointC                          -1
Min_Humidity                            46
Min_Sea_Level_PressurehPa             1011
Min_TemperatureC                         2
Min_VisibilitykM                        10
Precipitationmm                          0
WindDirDegrees                         180
Name: 0, dtype: object

## Add features
Add new features:
- day of the week 
- month 
- week of the year 
- quarter of the year

In [91]:
## Date Features
# convert date to datetime
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')

# add features
# df['DayN']=df['Date'].dt.dayofyear    # non credo possa servire
df['DayOfWeek']=df['Date'].dt.dayofweek
df['Month']=df['Date'].dt.month
df['Week']=df['Date'].dt.weekofyear
df['Quarter']=df['Date'].dt.quarter

In [92]:
## Temporal Features
# create columns
df['IsOpen_yesterday'] = np.empty(len(df))
df['IsOpen_tomorrow'] = np.empty(len(df))
df['IsHoliday_yesterday'] = np.empty(len(df))
df['IsHoliday_tomorrow'] = np.empty(len(df))

for store in df.StoreID.unique():
    clear_output()
    print("Working on {}".format(store))
    temp = df.loc[df.StoreID == store]
    # switch index to timestamps to make this easier
    oldindex = temp.index
    temp.index = temp['Date']
    
    temp['IsOpen_yesterday'] = temp.IsOpen.rolling(window='1d',closed='left', min_periods=1).sum()
    temp['IsOpen_tomorrow'] = temp.IsOpen.rolling(window='1d',closed='left', min_periods=1).sum().shift(-2, '1d')
    temp['IsHoliday_yesterday'] = temp.IsHoliday.rolling(window='1d',closed='left', min_periods=1).sum()
    temp['IsHoliday_tomorrow'] = temp.IsHoliday.rolling(window='1d',closed='left', min_periods=1).sum().shift(-2, '1d')  
    
    # put it back in the dataframe
    temp.index = oldindex
    df.loc[df.StoreID == store] = temp

Working on 1748

In [93]:
df.iloc[0]

StoreID                                      1000
Date                          2018-03-01 00:00:00
IsHoliday                                       0
IsOpen                                          1
HasPromotions                                   0
StoreType                            Hyper Market
AssortmentType                            General
NearestCompetitor                             326
Region                                          7
Region_AreaKM2                               9643
Region_GDP                                  17130
Region_PopulationK                           2770
CloudCover                                      6
Events                                       Rain
Max_Dew_PointC                                  3
Max_Gust_SpeedKm_h                             18
Max_Humidity                                   95
Max_Sea_Level_PressurehPa                    1022
Max_TemperatureC                                9
Max_VisibilityKm                               31
Max_Wind_SpeedKm_h                             18
Mean_Dew_PointC                                 2
Mean_Humidity                                  75
Mean_Sea_Level_PressurehPa                   1019
Mean_TemperatureC                               6
Mean_VisibilityKm                              14
Mean_Wind_SpeedKm_h                             5
Min_Dew_PointC                                 -1
Min_Humidity                                   46
Min_Sea_Level_PressurehPa                    1011
Min_TemperatureC                                2
Min_VisibilitykM                               10
Precipitationmm                                 0
WindDirDegrees                                180
DayOfWeek                                       3
Month                                           3
Week                                            9
Quarter                                         1
IsOpen_yesterday                              NaN
IsOpen_tomorrow                                 1
IsHoliday_yesterday                           NaN
IsHoliday_tomorrow                              0
Name: 0, dtype: object

In [94]:
# No-Events (NaN) are considered as sunny days, with lowest value (0) on the events scale
df['Events'] = df['Events'].fillna(0)

df=df.replace({'Rain':1, 'Thunderstorm':1, 'Fog':1, 'Snow': 2, 'Fog-Rain': 2, 'Rain-Thunderstorm': 2, 'Rain-Snow':2, 'Fog-Snow':2, 'Fog-Rain-Snow':3, 'Rain-Hail':3, 'Snow-Hail':3, 'Rain-Snow-Hail':3, 'Fog-Rain-Hail':3, 'Fog-Thunderstorm':3, 'Fog-Rain-Thunderstorm':4, 'Fog-Snow-Hail':4, 'Fog-Rain-Snow-Hail':4, 'Rain-Snow-Thunderstorm':4, 'Rain-Hail-Thunderstorm':4, 'Fog-Rain-Hail-Thunderstorm':4, 'Rain-Snow-Hail-Thunderstorm':4})

df['Events'].unique()

array([1, 2, 0, 3, 4], dtype=int64)

In [95]:
# Get columns with NaN values
null_cols = []
print('Features with NaN:')
for col in df.columns:
    if df[col].isnull().values.any():
        print(col)
        null_cols.append(col)

Features with NaN:
Max_VisibilityKm
Mean_VisibilityKm
Min_VisibilitykM
IsOpen_yesterday
IsOpen_tomorrow
IsHoliday_yesterday
IsHoliday_tomorrow

### Drop columns
- NumberOfCustumers : not present in  the testset
- WindDirDegrees : useless

In [96]:
# Drop useless columns
df['NumberOfCustomers'] = np.nan
df = df.drop('NumberOfCustomers', axis=1)  
df = df.drop('WindDirDegrees', axis=1)
df = df.drop('Max_VisibilityKm', axis=1)
df = df.drop('Mean_VisibilityKm', axis=1)
df = df.drop('Min_VisibilitykM', axis=1)

### Drop columns with the same information
Region_AreaKM2, Region_GDP and Region_PupolationK have the same info (different number for each region). Keep only one of them.

In [97]:
# questi non cambiano mai, teniamo regione e population
df = df.drop('Region_AreaKM2', axis=1)
df = df.drop('Region_GDP', axis=1)

In [98]:
# Drop rows with IsOpen = 0
# -> number of sales is always = 0 
df = df[df.IsOpen == 1]
df = df.drop('IsOpen', axis=1)

In [99]:
df.iloc[0]

StoreID                                      1000
Date                          2018-03-01 00:00:00
IsHoliday                                       0
HasPromotions                                   0
StoreType                            Hyper Market
AssortmentType                            General
NearestCompetitor                             326
Region                                          7
Region_PopulationK                           2770
CloudCover                                      6
Events                                          1
Max_Dew_PointC                                  3
Max_Gust_SpeedKm_h                             18
Max_Humidity                                   95
Max_Sea_Level_PressurehPa                    1022
Max_TemperatureC                                9
Max_Wind_SpeedKm_h                             18
Mean_Dew_PointC                                 2
Mean_Humidity                                  75
Mean_Sea_Level_PressurehPa                   1019
Mean_TemperatureC                               6
Mean_Wind_SpeedKm_h                             5
Min_Dew_PointC                                 -1
Min_Humidity                                   46
Min_Sea_Level_PressurehPa                    1011
Min_TemperatureC                                2
Precipitationmm                                 0
DayOfWeek                                       3
Month                                           3
Week                                            9
Quarter                                         1
IsOpen_yesterday                              NaN
IsOpen_tomorrow                                 1
IsHoliday_yesterday                           NaN
IsHoliday_tomorrow                              0
Name: 0, dtype: object

In [100]:
df.IsOpen_yesterday.fillna(1, inplace = True)
df.IsOpen_tomorrow.fillna(1, inplace = True)
df.IsHoliday_yesterday.fillna(1, inplace = True)
df.IsHoliday_tomorrow.fillna(1, inplace = True)

In [101]:
# Get columns with NaN values
null_cols = []
print('Features with NaN:')
for col in df.columns:
    if df[col].isnull().values.any():
        print(col)
        null_cols.append(col)

Features with NaN:

In [102]:
# save preprocessed data
#df.to_csv('preprocessed_train.csv', index=False)
df.to_csv('preprocessed_test.csv', index=False)

In [70]:
df

,StoreID,Date,IsHoliday,HasPromotions,StoreType,AssortmentType,NearestCompetitor,Region,NumberOfSales,Region_PopulationK,...,Min_TemperatureC,Precipitationmm,DayOfWeek,Month,Week,Quarter,IsOpen_yesterday,IsOpen_tomorrow,IsHoliday_yesterday,IsHoliday_tomorrow
0,1000,2016-03-01,0,0,Hyper Market,General,326,7,5676,2770,...,1,0.00,1,3,9,1,1.0,1.0,1.0,1.0
1,1000,2016-03-02,0,0,Hyper Market,General,326,7,8111,2770,...,1,0.00,2,3,9,1,1.0,1.0,0.0,1.0
2,1000,2016-03-04,0,0,Hyper Market,General,326,7,8300,2770,...,2,0.00,4,3,9,1,1.0,1.0,1.0,0.0
3,1000,2016-03-05,0,0,Hyper Market,General,326,7,7154,2770,...,-1,0.00,5,3,9,1,1.0,0.0,0.0,0.0
5,1000,2016-03-07,0,1,Hyper Market,General,326,7,10110,2770,...,-2,0.00,0,3,10,1,0.0,1.0,0.0,0.0
6,1000,2016-03-08,0,1,Hyper Market,General,326,7,9019,2770,...,-2,0.00,1,3,10,1,1.0,1.0,0.0,0.0
7,1000,2016-03-09,0,1,Hyper Market,General,326,7,8804,2770,...,-1,0.00,2,3,10,1,1.0,1.0,0.0,0.0
8,1000,2016-03-10,0,1,Hyper Market,General,326,7,7823,2770,...,6,0.00,3,3,10,1,1.0,1.0,0.0,0.0
9,1000,2016-03-11,0,1,Hyper Market,General,326,7,7989,2770,...,7,0.51,4,3,10,1,1.0,1.0,0.0,0.0
10,1000,2016-03-12,0,0,Hyper Market,General,326,7,5895,2770,...,6,0.00,5,3,10,1,1.0,0.0,0.0,0.0
12,1000,2016-03-14,0,0,Hyper Market,General,326,7,6348,2770,...,-2,0.00,0,3,11,1,0.0,1.0,0.0,0.0
13,1000,2016-03-15,0,0,Hyper Market,General,326,7,4738,2770,...,-4,5.08,1,3,11,1,1.0,1.0,0.0,0.0
14,1000,2016-03-16,0,0,Hyper Market,General,326,7,6014,2770,...,-6,0.00,2,3,11,1,1.0,1.0,0.0,0.0
15,1000,2016-03-17,0,0,Hyper Market,General,326,7,6087,2770,...,-11,0.51,3,3,11,1,1.0,1.0,0.0,0.0
16,1000,2016-03-18,0,0,Hyper Market,General,326,7,6962,2770,...,-8,0.00,4,3,11,1,1.0,1.0,0.0,0.0
17,1000,2016-03-19,0,0,Hyper Market,General,326,7,6618,2770,...,-2,0.00,5,3,11,1,1.0,0.0,0.0,0.0
19,1000,2016-03-21,0,1,Hyper Market,General,326,7,9183,2770,...,1,0.00,0,3,12,1,0.0,1.0,0.0,0.0
20,1000,2016-03-22,0,1,Hyper Market,General,326,7,8155,2770,...,-2,0.00,1,3,12,1,1.0,1.0,0.0,0.0
21,1000,2016-03-23,0,1,Hyper Market,General,326,7,7109,2770,...,1,5.08,2,3,12,1,1.0,1.0,0.0,0.0
22,1000,2016-03-24,0,1,Hyper Market,General,326,7,8041,2770,...,1,0.00,3,3,12,1,1.0,1.0,0.0,0.0
23,1000,2016-03-25,0,1,Hyper Market,General,326,7,7890,2770,...,-1,0.00,4,3,12,1,1.0,1.0,0.0,0.0
24,1000,2016-03-26,0,0,Hyper Market,General,326,7,6005,2770,...,-1,0.00,5,3,12,1,1.0,0.0,0.0,0.0
26,1000,2016-03-28,0,1,Hyper Market,General,326,7,8550,2770,...,-3,0.00,0,3,13,1,0.0,1.0,0.0,0.0
27,1000,2016-03-29,0,1,Hyper Market,General,326,7,8589,2770,...,-3,0.00,1,3,13,1,1.0,1.0,0.0,0.0
28,1000,2016-03-30,0,1,Hyper Market,General,326,7,9055,2770,...,-3,0.00,2,3,13,1,1.0,1.0,0.0,0.0
29,1000,2016-03-31,0,1,Hyper Market,General,326,7,11907,2770,...,-2,0.00,3,3,13,1,1.0,0.0,0.0,1.0
31,1000,2016-04-02,0,0,Hyper Market,General,326,7,11129,2770,...,-1,0.00,5,4,13,2,0.0,0.0,1.0,0.0
34,1000,2016-04-05,0,0,Hyper Market,General,326,7,6981,2770,...,-2,0.00,1,4,14,2,0.0,1.0,1.0,0.0
35,1000,2016-04-06,0,0,Hyper Market,General,326,7,5222,2770,...,1,0.00,2,4,14,2,1.0,1.0,0.0,0.0
36,1000,2016-04-07,0,0,Hyper Market,General,326,7,6509,2770,...,1,0.00,3,4,14,2,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522986,1748,2018-01-25,0,0,Hyper Market,General,4607,7,3277,2770,...,0,0.00,3,1,4,1,1.0,1.0,0.0,0.0
522987,1748,2018-01-26,0,0,Hyper Market,General,4607,7,2958,2770,...,-2,0.00,4,1,4,1,1.0,1.0,0.0,0.0
522988,1748,2018-01-27,0,0,Hyper Market,General,4607,7,2206,2770,...,-5,1.02,5,1,4,1,1.0,0.0,0.0,0.0
522990,1748,2018-01-29,0,1,Hyper Market,General,4607,7,4744,2770,...,1,4.06,0,1,5,1,0.0,1.0,0.0,0.0
522991,1748,2018-01-30,0,1,Hyper Market,General,4607,7,5547,2770,...,1,0.25,1,1,5,1,1.0,1.0,0.0,0.0
522992,1748,2018-01-31,0,1,Hyper Market,General,4607,7,4095,2770,...,2,0.00,2,1,5,1,1.0,1.0,0.0,0.0
522993,1748,2018-02-01,0,1,Hyper Market,General,4607,7,4668,2770,...,0,1.02,3,2,5,1,1.0,1.0,0.0,0.0
522994,1748,2018-02-02,0,1,Hyper Market,General,4607,7,5384,2770,...,-1,0.51,4,2,5,1,1.0,1.0,0.0,0.0
522995,1748,2018-02-03,0,0,Hyper Market,General,4607,7,2976,2770,...,-2,2.03,5,2,5,1,1.0,0.0,0.0,0.0
522997,1748,2018-02-05,0,1,Hyper Market,General,4607,7,6173,2770,...,0,0.00,0,2,6,1,0.0,1.0,0.0,0.0
522998,1748,2018-02-06,0,1,Hyper Market,General,4607,7,5239,2770,...,-3,0.00,1,2,6,1,1.0,1.0,0.0,0.0
522999,1748,2018-02-07,0,1,Hyper Market,General,4607,7,4417,2770,...,-5,0.00,2,2,6,1,1.0,1.0,0.0,0.0
523000,1748,2018-02-08,0,1,Hyper Market,General,4607,7,4932,2770,...,-3,0.00,3,2,6,1,1.0,1.0,0.0,0.0
523001,1748,2018-02-09,0,1,Hyper Market,General,4607,7,4991,2770,...,-3,0.00,4,2,6,1,1.0,1.0,0.0,0.0
523002,1748,2018-02-10,0,0,Hyper Market,General,4607,7,2203,2770,...,-5,0.00,5,2,6,1,1.0,0.0,0.0,0.0
523004,1748,2018-02-12,0,0,Hyper Market,General,4607,7,3480,2770,...,-2,0.00,0,2,7,1,0.0,1.0,0.0,0.0
523005,1748,2018-02-13,0,0,Hyper Market,General,4607,7,3765,2770,...,2,0.00,1,2,7,1,1.0,1.0,0.0,0.0
523006,1748,2018-02-14,0,0,Hyper Market,General,4607,7,3314,2770,...,2,0.00,2,2,7,1,1.0,1.0,0.0,0.0
523007,1748,2018-02-15,0,0,Hyper Market,General,4607,7,3786,2770,...,0,0.00,3,2,7,1,1.0,1.0,0.0,0.0
523008,1748,2018-02-16,0,0,Hyper Market,General,4607,7,3622,2770,...,-1,0.00,4,2,7,1,1.0,1.0,0.0,0.0
523009,1748,2018-02-17,0,0,Hyper Market,General,4607,7,2461,2770,...,-1,0.00,5,2,7,1,1.0,0.0,0.0,0.0
523011,1748,2018-02-19,0,1,Hyper Market,General,4607,7,4930,2770,...,-2,0.00,0,2,8,1,0.0,1.0,0.0,0.0
523012,1748,2018-02-20,0,1,Hyper Market,General,4607,7,5089,2770,...,1,0.00,1,2,8,1,1.0,1.0,0.0,0.0
523013,1748,2018-02-21,0,1,Hyper Market,General,4607,7,4627,2770,...,2,0.00,2,2,8,1,1.0,1.0,0.0,0.0
523014,1748,2018-02-22,0,1,Hyper Market,General,4607,7,4335,2770,...,0,0.00,3,2,8,1,1.0,1.0,0.0,0.0
523015,1748,2018-02-23,0,1,Hyper Market,General,4607,7,4620,2770,...,1,0.00,4,2,8,1,1.0,1.0,0.0,0.0
523016,1748,2018-02-24,0,0,Hyper Market,General,4607,7,2222,2770,...,1,2.03,5,2,8,1,1.0,0.0,0.0,0.0
523018,1748,2018-02-26,0,0,Hyper Market,General,4607,7,2994,2770,...,0,7.11,0,2,9,1,0.0,1.0,0.0,0.0
523019,1748,2018-02-27,0,0,Hyper Market,General,4607,7,3935,2770,...,1,0.00,1,2,9,1,1.0,1.0,0.0,1.0
523020,1748,2018-02-28,0,0,Hyper Market,General,4607,7,3604,2770,...,-2,0.00,2,2,9,1,1.0,1.0,0.0,1.0