In [1]:
import pandas as pd
import numpy as np
import datetime as dt
from IPython.display import clear_output
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import KFold, TimeSeriesSplit

In [2]:
df = pd.read_csv('preprocessed_train_regression.csv')
dfTest = pd.read_csv ('preprocessed_test_regression.csv')
dfToExport = pd.DataFrame (columns = ['StoreID','Month','NumberOfSales'] )

In [3]:
# Save region for each index
rows_region = df['Region']
rows_store = df['StoreID']

# Choose features
selected_features=[
    'NumberOfSales',
    'HasPromotions', 
#     'HasPromotions_yesterday',
#     'HasPromotions_tomorrow',
    'IsOpen_yesterday',
    'IsOpen_tomorrow',
    'IsHoliday_tomorrow',
    'IsHoliday_yesterday',
    'daily_sales',
    'month_avg_sales',
    'yearly_sales',
    'NearestCompetitor',
    'DayOfWeek',
    'Week',
    'Month',
    'regression_whole',
#     'regression_twomonths',
    ] # droppata dopo

df = df[selected_features]

selected_features_test=[
    'HasPromotions', 
#     'HasPromotions_yesterday',
#     'HasPromotions_tomorrow',
    'IsOpen_yesterday',
    'IsOpen_tomorrow',
    'IsHoliday_tomorrow',
    'IsHoliday_yesterday',
    'daily_sales',
    'month_avg_sales',
    'yearly_sales',
    'NearestCompetitor',
    'DayOfWeek',
    'Week',
    'Month',
    'regression_whole',
    'StoreID' # droppata dopo
#     'regression_twomonths'
    ] 
dfTest = dfTest[selected_features_test]

In [4]:
# Look for features with NaN values

null_cols = []
for col in df.columns:
    if df[col].isnull().values.any():
        null_cols.append(col)

print('Features with NaN: {}'.format(len(null_cols)))
for col in null_cols:
    print(col)
print('Num of rows containing NaNs: {}'.format(len(pd.isnull(df).any(1).nonzero()[0])))
    
# drop all rows with NaN values
# getting indices (rows) of all NaN values
inds = pd.isnull(df).any(1).nonzero()[0]
df = df.drop(df.index[inds])

Features with NaN: 1
regression_whole
Num of rows containing NaNs: 37532

In [5]:
X_train = df.drop(['NumberOfSales'], axis=1)
y_train = df["NumberOfSales"]

forest = RandomForestRegressor(n_estimators=300, max_depth=15, random_state=0, n_jobs=1, max_features='sqrt')
model = forest.fit(X_train, y_train)

X_val = dfTest.drop('StoreID', axis = 1)
y_pred = model.predict(X_val)

In [6]:
temp = pd.DataFrame (columns = ['StoreID', 'Month','NumberOfSales'] )
temp.Month = dfTest.Month
temp.StoreID = dfTest.StoreID
temp.NumberOfSales= y_pred
temp = temp.groupby(['StoreID', 'Month'], as_index=False).agg({"NumberOfSales":"sum"})
temp.NumberOfSales = temp.NumberOfSales.astype('int64')
temp

      StoreID  Month  NumberOfSales
0        1000      3         190300
1        1000      4         182852
2        1001      3          88168
3        1001      4          82639
4        1002      3         128367
5        1002      4         118502
6        1003      3         140324
7        1003      4         131595
8        1004      3         102511
9        1004      4          92175
10       1005      3         122518
11       1005      4         115089
12       1006      3         170316
13       1006      4         155803
14       1007      3         103811
15       1007      4          94949
16       1008      3         145243
17       1008      4         124101
18       1009      3         128901
19       1009      4         121621
20       1010      3         146181
21       1010      4         135595
22       1011      3          73238
23       1011      4          66962
24       1012      3         174392
25       1012      4         159837
26       1013      3         124299
27       1013      4         114194
28       1014      3         124890
29       1014      4         116542
...       ...    ...            ...
1468     1734      3         138046
1469     1734      4         127285
1470     1735      3         124856
1471     1735      4         116830
1472     1736      3          68259
1473     1736      4          59815
1474     1737      3          79355
1475     1737      4          72754
1476     1738      3         108828
1477     1738      4          96978
1478     1739      3         112092
1479     1739      4         107605
1480     1740      3          93295
1481     1740      4          87042
1482     1741      3         136163
1483     1741      4         126830
1484     1742      3         156678
1485     1742      4         145067
1486     1743      3          64418
1487     1743      4          60940
1488     1744      3         113536
1489     1744      4         106530
1490     1745      3         123471
1491     1745      4         112369
1492     1746      3          95489
1493     1746      4          88637
1494     1747      3         139674
1495     1747      4         129887
1496     1748      3         107959
1497     1748      4          94876

[1498 rows x 3 columns]

In [7]:
temp.to_csv("testPredicted.csv", index = False)

      StoreID  Month  NumberOfSales
0        1000      3         190300
1        1000      4         182852
2        1001      3          88168
3        1001      4          82639
4        1002      3         128367
5        1002      4         118502
6        1003      3         140324
7        1003      4         131595
8        1004      3         102511
9        1004      4          92175
10       1005      3         122518
11       1005      4         115089
12       1006      3         170316
13       1006      4         155803
14       1007      3         103811
15       1007      4          94949
16       1008      3         145243
17       1008      4         124101
18       1009      3         128901
19       1009      4         121621
20       1010      3         146181
21       1010      4         135595
22       1011      3          73238
23       1011      4          66962
24       1012      3         174392
25       1012      4         159837
26       1013      3         124299
27       1013      4         114194
28       1014      3         124890
29       1014      4         116542
...       ...    ...            ...
1468     1734      3         138046
1469     1734      4         127285
1470     1735      3         124856
1471     1735      4         116830
1472     1736      3          68259
1473     1736      4          59815
1474     1737      3          79355
1475     1737      4          72754
1476     1738      3         108828
1477     1738      4          96978
1478     1739      3         112092
1479     1739      4         107605
1480     1740      3          93295
1481     1740      4          87042
1482     1741      3         136163
1483     1741      4         126830
1484     1742      3         156678
1485     1742      4         145067
1486     1743      3          64418
1487     1743      4          60940
1488     1744      3         113536
1489     1744      4         106530
1490     1745      3         123471
1491     1745      4         112369
1492     1746      3          95489
1493     1746      4          88637
1494     1747      3         139674
1495     1747      4         129887
1496     1748      3         107959
1497     1748      4          94876

[1498 rows x 3 columns]

In [22]:
df2 = dfTest[['Month', 'StoreID', 'month_avg_sales']].drop_duplicates()

In [20]:
temp['Average Month'] = df2.reset_index().month_avg_sales

In [21]:
temp

      StoreID  Month  NumberOfSales  Average Month
0        1000      3         190300       176476.0
1        1000      4         182852       186753.0
2        1001      3          88168        55176.5
3        1001      4          82639        52291.5
4        1002      3         128367       129596.5
5        1002      4         118502       116083.5
6        1003      3         140324       134584.0
7        1003      4         131595       119086.5
8        1004      3         102511       104177.5
9        1004      4          92175        93854.0
10       1005      3         122518       127333.5
11       1005      4         115089       112333.5
12       1006      3         170316       170701.0
13       1006      4         155803       153630.0
14       1007      3         103811       102716.0
15       1007      4          94949        91641.0
16       1008      3         145243       170247.0
17       1008      4         124101       131409.0
18       1009      3         128901       138509.0
19       1009      4         121621       115293.5
20       1010      3         146181       154022.0
21       1010      4         135595       130546.5
22       1011      3          73238        75532.0
23       1011      4          66962        64604.0
24       1012      3         174392       173904.0
25       1012      4         159837       157083.5
26       1013      3         124299       131523.0
27       1013      4         114194       114488.5
28       1014      3         124890       126064.0
29       1014      4         116542       110747.0
...       ...    ...            ...            ...
1468     1734      3         138046       129105.0
1469     1734      4         127285       115622.5
1470     1735      3         124856       125149.5
1471     1735      4         116830       108386.0
1472     1736      3          68259        68903.5
1473     1736      4          59815        59833.0
1474     1737      3          79355        83144.5
1475     1737      4          72754        71067.0
1476     1738      3         108828       110853.0
1477     1738      4          96978        99526.0
1478     1739      3         112092        98243.5
1479     1739      4         107605       103986.5
1480     1740      3          93295        91309.5
1481     1740      4          87042        81133.5
1482     1741      3         136163       129499.0
1483     1741      4         126830       118278.0
1484     1742      3         156678       158819.0
1485     1742      4         145067       138212.5
1486     1743      3          64418        65940.0
1487     1743      4          60940        56531.0
1488     1744      3         113536       118754.0
1489     1744      4         106530       101057.0
1490     1745      3         123471       129682.5
1491     1745      4         112369       111580.0
1492     1746      3          95489        87147.0
1493     1746      4          88637        82574.5
1494     1747      3         139674       139705.0
1495     1747      4         129887       125232.0
1496     1748      3         107959       112602.5
1497     1748      4          94876        89786.0

[1498 rows x 4 columns]