In [1]:
import pandas as pd
import numpy as np
import datetime as dt
from IPython.display import clear_output
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import KFold, TimeSeriesSplit

In [2]:
df = pd.read_csv('preprocessed_train_regression.csv')
dfTest = pd.read_csv ('preprocessed_test_regression.csv')
dfToExport = pd.DataFrame (columns = ['StoreID','Month','NumberOfSales'] )

In [3]:
# Save region for each index
rows_region = df['Region']
rows_store = df['StoreID']

# Choose features
selected_features=[
    'NumberOfSales',
    'HasPromotions', 
#     'HasPromotions_yesterday',
#     'HasPromotions_tomorrow',
    'IsOpen_yesterday',
    'IsOpen_tomorrow',
    'IsHoliday_tomorrow',
    'IsHoliday_yesterday',
    'daily_sales',
    'month_avg_sales',
    'yearly_sales',
    'NearestCompetitor',
    'DayOfWeek',
    'Week',
    'Month',
    'regression_whole',
    'RegressionDistance'
#     'regression_twomonths',
    ] # droppata dopo

df = df[selected_features]

selected_features_test=[
    'HasPromotions', 
#     'HasPromotions_yesterday',
#     'HasPromotions_tomorrow',
    'IsOpen_yesterday',
    'IsOpen_tomorrow',
    'IsHoliday_tomorrow',
    'IsHoliday_yesterday',
    'daily_sales',
    'month_avg_sales',
    'yearly_sales',
    'NearestCompetitor',
    'DayOfWeek',
    'Week',
    'Month',
    'regression_whole',
    'RegressionDistance',
    'StoreID' # droppata dopo
#     'regression_twomonths'
    ] 
dfTest = dfTest[selected_features_test]

In [4]:
# Look for features with NaN values

null_cols = []
for col in df.columns:
    if df[col].isnull().values.any():
        null_cols.append(col)

print('Features with NaN: {}'.format(len(null_cols)))
for col in null_cols:
    print(col)
print('Num of rows containing NaNs: {}'.format(len(pd.isnull(df).any(1).nonzero()[0])))
    
# drop all rows with NaN values
# getting indices (rows) of all NaN values
inds = pd.isnull(df).any(1).nonzero()[0]
df = df.drop(df.index[inds])

Features with NaN: 1
regression_whole
Num of rows containing NaNs: 37532

In [5]:
X_train = df.drop(['NumberOfSales'], axis=1)
y_train = df["NumberOfSales"]

forest = RandomForestRegressor(n_estimators=300, max_depth=15, random_state=0, n_jobs=1, max_features='sqrt')
model = forest.fit(X_train, y_train)

X_val = dfTest.drop('StoreID', axis = 1)
y_pred = model.predict(X_val)

In [6]:
temp = pd.DataFrame (columns = ['StoreID', 'Month','NumberOfSales'] )
temp.Month = dfTest.Month
temp.StoreID = dfTest.StoreID
temp.NumberOfSales= y_pred
temp = temp.groupby(['StoreID', 'Month'], as_index=False).agg({"NumberOfSales":"sum"})
temp.NumberOfSales = temp.NumberOfSales.astype('int64')
temp

      StoreID  Month  NumberOfSales
0        1000      3         191836
1        1000      4         181469
2        1001      3          89511
3        1001      4          81947
4        1002      3         128961
5        1002      4         117822
6        1003      3         140950
7        1003      4         130118
8        1004      3         102757
9        1004      4          92092
10       1005      3         123658
11       1005      4         114186
12       1006      3         171348
13       1006      4         155387
14       1007      3         104244
15       1007      4          94797
16       1008      3         145295
17       1008      4         124426
18       1009      3         129157
19       1009      4         120129
20       1010      3         147696
21       1010      4         133706
22       1011      3          73416
23       1011      4          66549
24       1012      3         175381
25       1012      4         158984
26       1013      3         124632
27       1013      4         113538
28       1014      3         126044
29       1014      4         115579
...       ...    ...            ...
1468     1734      3         138516
1469     1734      4         125460
1470     1735      3         126056
1471     1735      4         115657
1472     1736      3          68398
1473     1736      4          59998
1474     1737      3          79429
1475     1737      4          72042
1476     1738      3         108954
1477     1738      4          96913
1478     1739      3         112444
1479     1739      4         105713
1480     1740      3          93785
1481     1740      4          86562
1482     1741      3         136790
1483     1741      4         125004
1484     1742      3         158104
1485     1742      4         143350
1486     1743      3          65125
1487     1743      4          60544
1488     1744      3         114027
1489     1744      4         105350
1490     1745      3         123835
1491     1745      4         111859
1492     1746      3          95854
1493     1746      4          88395
1494     1747      3         140175
1495     1747      4         128412
1496     1748      3         108097
1497     1748      4          94052

[1498 rows x 3 columns]

In [7]:
temp.to_csv("testPredicted.csv", index = False)

In [8]:
df2 = dfTest[['Month', 'StoreID', 'month_avg_sales']].drop_duplicates()

In [9]:
temp['Average Month'] = df2.reset_index().month_avg_sales

In [10]:
temp

      StoreID  Month  NumberOfSales  Average Month
0        1000      3         191836       176476.0
1        1000      4         181469       186753.0
2        1001      3          89511        55176.5
3        1001      4          81947        52291.5
4        1002      3         128961       129596.5
5        1002      4         117822       116083.5
6        1003      3         140950       134584.0
7        1003      4         130118       119086.5
8        1004      3         102757       104177.5
9        1004      4          92092        93854.0
10       1005      3         123658       127333.5
11       1005      4         114186       112333.5
12       1006      3         171348       170701.0
13       1006      4         155387       153630.0
14       1007      3         104244       102716.0
15       1007      4          94797        91641.0
16       1008      3         145295       170247.0
17       1008      4         124426       131409.0
18       1009      3         129157       138509.0
19       1009      4         120129       115293.5
20       1010      3         147696       154022.0
21       1010      4         133706       130546.5
22       1011      3          73416        75532.0
23       1011      4          66549        64604.0
24       1012      3         175381       173904.0
25       1012      4         158984       157083.5
26       1013      3         124632       131523.0
27       1013      4         113538       114488.5
28       1014      3         126044       126064.0
29       1014      4         115579       110747.0
...       ...    ...            ...            ...
1468     1734      3         138516       129105.0
1469     1734      4         125460       115622.5
1470     1735      3         126056       125149.5
1471     1735      4         115657       108386.0
1472     1736      3          68398        68903.5
1473     1736      4          59998        59833.0
1474     1737      3          79429        83144.5
1475     1737      4          72042        71067.0
1476     1738      3         108954       110853.0
1477     1738      4          96913        99526.0
1478     1739      3         112444        98243.5
1479     1739      4         105713       103986.5
1480     1740      3          93785        91309.5
1481     1740      4          86562        81133.5
1482     1741      3         136790       129499.0
1483     1741      4         125004       118278.0
1484     1742      3         158104       158819.0
1485     1742      4         143350       138212.5
1486     1743      3          65125        65940.0
1487     1743      4          60544        56531.0
1488     1744      3         114027       118754.0
1489     1744      4         105350       101057.0
1490     1745      3         123835       129682.5
1491     1745      4         111859       111580.0
1492     1746      3          95854        87147.0
1493     1746      4          88395        82574.5
1494     1747      3         140175       139705.0
1495     1747      4         128412       125232.0
1496     1748      3         108097       112602.5
1497     1748      4          94052        89786.0

[1498 rows x 4 columns]